<a href="https://colab.research.google.com/github/Chetirebochki/PythonLibruary/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import scipy.stats as sps
my_series = pd.date_range("20220101", periods=10)
my_series1=pd.Series(sps.norm.rvs(size=10), index=my_series)
print(my_series1>0)

2022-01-01     True
2022-01-02    False
2022-01-03     True
2022-01-04    False
2022-01-05     True
2022-01-06     True
2022-01-07    False
2022-01-08     True
2022-01-09     True
2022-01-10    False
Freq: D, dtype: bool

In [4]:
import pandas as pd
import scipy.stats as sps
my_series = pd.date_range("20220101", periods=10)
my_series1=pd.Series(sps.norm.rvs(size=10), index=my_series)
print(my_series1[my_series1>0])

2022-01-01    1.256367
2022-01-02    0.758101
2022-01-03    1.763495
2022-01-04    1.126906
2022-01-07    0.127926
2022-01-08    1.216452
dtype: float64

In [5]:
import numpy as np
import pandas as pd
s=pd.Series({"a":1,"b":2,"c":0})
# ВАШ КОД
s1=s.diff().dropna().expanding().apply(lambda x: np.mean(x**2))
print(s1)

b    1.0
c    2.5
dtype: float64

In [7]:
import pandas as pd
df = pd.DataFrame({'country': ['Kazakhstan', 'Russia', 'Belarus', 'Tajikistaan'],
                   'population': [17.04, 143.5, 9.5, 10.5],
                   'square': [2724902, 17125191, 207600, 143000]})
print(df)

       country  population    square
0   Kazakhstan       17.04   2724902
1       Russia      143.50  17125191
2      Belarus        9.50    207600
3  Tajikistaan       10.50    143000

In [8]:
import pandas as pd
df = pd.DataFrame({'country': ['Kazakhstan', 'Russia', 'Belarus', 'Tajikistaan'],
                   'population': [17.04, 143.5, 9.5, 10.5],
                   'square': [2724902, 17125191, 207600, 143000]})
df['density'] = df['population'] / df['square'] * 1000000
print(df)

       country  population    square    density
0   Kazakhstan       17.04   2724902   6.253436
1       Russia      143.50  17125191   8.379469
2      Belarus        9.50    207600  45.761079
3  Tajikistaan       10.50    143000  73.426573

In [12]:
import scipy.stats as sps
import pandas as pd
d = {'one': pd.Series(range(6), index=list('abcdef')),
     'two': pd.Series(range(7), index=list('abcdefg')),
     'three': pd.Series(sps.norm.rvs(size=7), index=list('abcdefg'))}
df = pd.DataFrame(d)
print(df)
print(df.head())
print(df.tail(3))
print(df.index)
print(df.columns)
print(df.values)
print(df.describe())
print(df['one'])
print(df['one']['c'])

   one  two     three
a  0.0    0  0.559117
b  1.0    1  1.644670
c  2.0    2  0.231231
d  3.0    3 -0.069607
e  4.0    4  0.460851
f  5.0    5  1.322868
g  NaN    6 -0.708902
   one  two     three
a  0.0    0  0.559117
b  1.0    1  1.644670
c  2.0    2  0.231231
d  3.0    3 -0.069607
e  4.0    4  0.460851
   one  two     three
e  4.0    4  0.460851
f  5.0    5  1.322868
g  NaN    6 -0.708902
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')
Index(['one', 'two', 'three'], dtype='object')
[[ 0.          0.          0.55911705]
 [ 1.          1.          1.64467009]
 [ 2.          2.          0.23123103]
 [ 3.          3.         -0.06960651]
 [ 4.          4.          0.4608514 ]
 [ 5.          5.          1.32286806]
 [        nan  6.         -0.70890224]]
            one       two     three
count  6.000000  7.000000  7.000000
mean   2.500000  3.000000  0.491461
std    1.870829  2.160247  0.801044
min    0.000000  0.000000 -0.708902
25%    1.250000  1.500000  0.080812
50%    2.500000  3.000000  0.460851
75%    3.750000  4.500000  0.940993
max    5.000000  6.000000  1.644670
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    NaN
Name: one, dtype: float64
2.0

In [19]:
import numpy as np
import pandas as pd
import scipy.stats as sps
# ВАШ КОД
# создаем матрицу
n, m = 20, 10
data = sps.randint(low=-100, high=100).rvs(size=(n, m))
cols = np.arange(1, m + 1)
np.random.shuffle(cols)
# создаем таблицу
task_df = pd.DataFrame(data, columns=cols)
# задаем условия для строк и столбцов
col_mask = (cols % 2) == 0
row_mask = np.sum(data % 2, axis=1) < (m / 2)
# извлекаем данные по условию
print(task_df.loc[row_mask, col_mask])

    2   6   10   4   8
0   82 -51  -8    4  44
4   38 -64 -88  -94 -88
5  -92 -82  94  -48 -77
10 -28  26 -67  -62  92
13  81  78 -96  -62  98
15  32  25 -10 -100 -70